/* main css declarations */

body {
	background-color: #bbddff;
}

#layoutBody {
	position: relative;
}

.navbar-brand {
	padding: 5px 5px 5px 5px;
}

.postItem {
	padding: 0px 10px 0px 10px;
}

	.postItem .panel-body {
		padding: 5px 10px 0px 10px;
	}

		.postItem .panel-body .well {
			padding: 5px 5px 5px 5px;
			margin: 10px 0px 10px 0px;
		}

	.postItem .btn {
		margin: 0px 10px 10px 10px;
	}

	.postItem .panel-footer {
		padding: 5px 5px 15px 0px;
	}
	
	.postItem .panel-footer h6 {
		float: right;
		margin: 0;
	}

