/* main css declarations */

body {
	background-color: #bbddff;
}

#layoutBody {
	position: relative;
}

.navbar-brand {
	padding: 5px 5px 5px 5px;
}

.userPosts_item .media-left {
	padding: 5px 5px 5px 5px;
}

.userPosts_item .media-body {
	padding: 10px 5px 10px 0px;
}