/* main css declarations */

body {
	background-color: #bbddff;
}

#layoutBody {

}

.homepage .panel-heading {
	padding: 0px;
}

.navbar-brand {
	padding: 5px 5px 5px 5px;
}

.postItem {
	padding: 0px;
}
	.postItem .panel {
		margin: 5px;
	}

	.postItem .panel-body, .userOwnPosts_item .panel-body {
		padding: 5px 10px 0px 10px;
	}

		.postItem .panel-body .well, .userOwnPosts_item .panel-body .well {
			padding: 5px 5px 5px 5px;
			margin: 10px 0px 10px 0px;
		}

	.postItem .btn, .userOwnPosts_item .btn {
		margin: 0px 10px 10px 10px;
	}

		.postItem .contact, .postItem .decline {
			align: right;
		}

		.userOwnPosts_item .delete {
			align: right;
			float: right;
		}

	.postItem .panel-footer,	.userOwnPosts_item .panel-footer {
		padding: 5px 5px 15px 0px;
	}

	.postItem .panel-footer h6, .userOwnPosts_item .panel-footer h6 {
		float: right;
		margin: 0;
	}

.submit-form {
	margin: 0px;
}

	.submit-form .btn {

	}
