<!-- individual post -->

<template name="userPosts_item">
<div class="postItem col-sm-3">
	<div class="panel panel-default">
		<div class="panel-body">
			<h4>{{username}}</h4>
			<h5>Location: {{location}}</h5>
			<h5>Time: {{timePreference}}</h5>
			<h5 class="well">{{summary}}</h5>
		</div>
		<div class="container-fluid row">
			<div class="col-md-4">
				<a href="#" class="check btn btn-primary btn-sm" role="button">Check</a>
			</div>
			<div class="col-md-4">
				<a href="#" class="contact btn btn-default btn-sm" role="button">Contact</a>
			</div>
			<div class="col-md-4">
				<a href="#" class="decline btn btn-danger btn-sm" role="button">Decline</a>
			</div>
		</div>
		<div class="panel-footer">
			<h6>posted on {{datePosted}}</h6>
		</div>
	</div>
</div>
</template>
