
<template name="postsView">
<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class='modal-header'>
          <h4>{{username}}</h4>
      </div>
      <div class="modal-body">
          <h5>Location: {{location}}</h5>
          <h5>Preferred Time: {{timePreference}}</h5>
          <h5 class="well">{{summary}}</h5>
      </div>
      <div class="modal-footer">
          <h5>posted on {{datePosted}}</h5>
      </div>
    </div>
  </div>
</div>
</template>
